.cart-item {
    display: flex;
    flex-direction: row;

}

.cart-item-image {
    display: flex;
    max-width: 13.5rem;
    height: 9.5rem;
}

.cart-item-image p {
    background-color: #C0BEBE;
    width: 13.5rem;
    height: 9.5rem;
    border-radius: 4px 4px 0 0;
}

.cart-item-description {
    display: flex;
    flex-direction: column;
    width: 60.875rem;
    height: 9.5rem;
    border-radius: 0 0 4px 4px;
    padding: 1rem;
    background-color: #fff;
}

.image-gallery-image {
    height: 30rem;
}