header {
    background-color: #E42828;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4.5rem;

}


.header img {
    mix-blend-mode: hard-light!important;
}

.login img {
    mix-blend-mode: hard-light!important;
}

.icon img {
    mix-blend-mode: hard-light!important;
    padding: .9rem;
}

.logo {
    display: flex;
    align-items: center;
    mix-blend-mode: hard-light!important;
}

.nav {
    display: flex;
    gap: 1rem;

}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav-link p {
    color: white;
}

.nav-button {
    background-color: white;
    margin: 1rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: 0px solid;
}

.nav-button p {
    padding: 1rem;
    text-align: center;
}